<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="internal.nlog"
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogLevel="Debug">

    <extensions>
        <add assembly="NLog.StructuredLogging.Json" />
    </extensions>

    <targets>
        <target xsi:type="Console" name="console" layout="${structuredlogging.json}" />

        <!--        <target name="logstash" xsi:type="BufferingWrapper" flushTimeout="5000">-->
        <target name="logstash" xsi:type="Network" layout="${structuredlogging.json}" address="http://127.0.0.1:5000" />
        <!--        </target>-->

    </targets>

    <rules>
        <logger name="*" writeTo="logstash" />
        <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
</nlog>